<div class="content-box col-centered">
  <h2>Notes</h2>

  <div class="btn-group pull-right">
    <a href="<%= new_note_path %>" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span> New Note
    </a>
  </div>

  <%= paginate @notes %>
  <p class="pagination-total"><%= page_entries_info @notes %></p>

  <table class="table tablesorter">
    <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>kind</th>
      <th>contact</th>
    </tr>
    </thead>

    <tbody>
    <% @notes.each do |note| %>
        <tr>
          <td><%= note.id %></td>
          <td><%= note.content %></td>
          <td><%= note.kind %></td>
          <td><%= full_name note.contact if note.contact %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @notes %>
  <p class="pagination-total"><%= page_entries_info @notes %></p>
</div>
