<div class="content-box col-centered table-responsive">
  <h2><%= t('views.notes.index.title') %></h2>

  <%= paginate @notes %>
  <p class="pagination-total"><%= page_entries_info @notes %></p>

  <div class="btn-group pull-right">
    <a href="<%= new_note_path %>" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span> <%= t('views.notes.index.new_note') %>
    </a>
  </div>

  <%= simple_form_for(:options, method: :get, html: {class: 'filters_form'}) do |f| %>
      <%= f.input_field :search, required: false, value: @search_scope, placeholder: t('views.notes.index.search') %>

      <br/>
      <label class="select required" for="options_order"><%= t 'views.notes.index.sort_by' %></label>
      <% sortable_fields_collection = []
         @order_fields.each do |field|
           sortable_fields_collection << [t("views.notes.index.sortable_fields.#{field}"), field]
         end
      %>
      <%= f.input_field :order, collection: sortable_fields_collection, selected: @selected_order %>

      <% sort_scopes_collection = []
         @sorts.each do |scope|
           sort_scopes_collection << [t("views.notes.index.sorts.#{scope}"), scope]
         end
      %>
      <%= f.input_field :sort, collection: sort_scopes_collection, selected: @selected_sort %>
  <% end %>


  <table class="table table-condensed table-striped table-hover pretty-table">
    <thead>
    <tr>
      <th><%= t('views.notes.index.content') %></th>
      <th><%= t('views.notes.index.contact') %></th>
      <th><%= t('views.notes.index.create_date') %></th>
      <th><%= t('views.notes.index.update_date') %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @notes.each do |note| %>
        <tr>
          <td class="long-text-cell"><%= note.content %></td>
          <td><%= full_name note.contact if note.contact %></td>
          <td><%= localize note.created_at, format: :short_date %></td>
          <td><%= localize note.updated_at, format: :short_date %></td>
          <td class="actions-cell"><%= actions_group edit_btn(edit_note_path(note)), delete_btn(note_path(note)) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @notes %>
  <p class="pagination-total"><%= page_entries_info @notes %></p>
</div>
