<div class="content-box col-centered">
  <h2><%= @note.title %></h2>

  <p>
    <%= simple_format @note.content %>
  </p>

  <%= link_to t('views.notes.show.edit_link'), edit_note_path(@note) %> |
  <% if @note.contact %>
      <%= link_to t('views.notes.show.back'), @note.contact %>
  <% else %>
      <%= link_to t('views.notes.show.back'), notes_path %>
  <% end %>
</div>
