<div class='pull-right'><%= edit_btn(edit_contacts_person_path(@contact)) %></div>

<p>
  <strong><%= t 'views.contacts.people._person.name' %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.first_name' %>:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.email' %>:</strong>
  <%= mail_to @contact.email %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.address' %>:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.phone' %>:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.website' %>:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.mobile' %>:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.job' %>:</strong>
  <%= @contact.job %>
</p>

<p>
  <strong><%= t 'views.contacts.people._person.company' %>:</strong>
  <%= @contact.company.name if @contact.company %>
</p>
