<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>phone:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>website:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Job:</strong>
  <%= @contact.job %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company.name if @contact.company %>
</p>
