<p id="notice"><%= notice %></p>

<h1>Listing Contacts People</h1>

<table>
  <thead>
    <tr>
      <th>Mobile</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts_people.each do |contacts_person| %>
      <tr>
        <td><%= contacts_person.mobile %></td>
        <td><%= contacts_person.job %></td>
        <td><%= link_to 'Show', contacts_person %></td>
        <td><%= link_to 'Edit', edit_contacts_person_path(contacts_person) %></td>
        <td><%= link_to 'Destroy', contacts_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_contacts_person_path %>
