<div class="content-box col-centered">
  <h2>Contacts</h2>

  <%= paginate @contacts %>
  <p class="pagination-total"><%= page_entries_info @contacts %></p>

  <div class="btn-group pull-right">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to t('views.contacts.index.new_person'), new_contacts_person_path %></li>
      <li><%= link_to t('views.contacts.index.new_company'), new_contacts_company_path %></li>
    </ul>
  </div>

  <%= simple_form_for(:options, method: :get, html: {class: 'filters_form'}) do |f| %>
      <%= f.input_field :search, required: false, value: @search_scope, placeholder: t('views.contacts.index.search') %>

      <% searchable_fields_collection = []
         @searchable_fields.each do |field|
           searchable_fields_collection << [t("views.contacts.index.searchable_fields.#{field}"), field]
         end
      %>
      <%= f.input_field :search_field, collection: searchable_fields_collection, selected: @search_field, include_blank: t('views.contacts.index.searchable_fields.all') %>

      <br/>
      <label class="select required" for="options_order"><%= t 'views.contacts.index.sort_by' %></label>
      <% sortable_fields_collection = []
         @searchable_fields.each do |field|
           sortable_fields_collection << [t("views.contacts.index.sortable_fields.#{field}"), field]
         end
      %>
      <%= f.input_field :order, collection: sortable_fields_collection, selected: @selected_order %>

      <% sort_scopes_collection = []
         @sorts.each do |scope|
           sort_scopes_collection << [t("views.contacts.index.sorts.#{scope}"), scope]
         end
      %>
      <%= f.input_field :sort, collection: sort_scopes_collection, selected: @selected_sort %>

<% end %>


  <table class="table pretty-table">
    <thead>
    <tr>
      <th><%= t('views.contacts.index.name') %></th>
      <th><%= t('views.contacts.index.first_name') %></th>
      <th><%= t('views.contacts.index.email') %></th>
      <th><%= t('views.contacts.index.activity') %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
        <tr>
          <td><%= link_to contact.name, contact %></td>
          <td><%= link_to(contact.first_name, contact) if contact.is_a?(Contacts::Person) %></td>
          <td><%= mail_to contact.email %></td>
          <td><%= mail_to contact.activity %></td>
          <td><%= actions_group delete_btn(url_for(contact)) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @contacts %>
  <p class="pagination-total"><%= page_entries_info @contacts %></p>

</div>
