<div class="content-box col-centered">
  <h2>Contacts</h2>

  <%= paginate @contacts %>
  <p class="pagination-total"><%= page_entries_info @contacts %></p>

  <table class="table tablesorter">
    <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
    </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
        <tr>
          <td><%= full_name contact %></td>
          <td><%= contact.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @contacts %>
  <p class="pagination-total"><%= page_entries_info @contacts %></p>

</div>
