<div class="content-box col-centered">
  <h2>
    <%= full_name @contact %>
    <div class="btn-group pull-right">
      <a href="<%= new_note_for_contact_path(@contact) %>" class="btn btn-primary btn-xs">
        <span class="glyphicon glyphicon-plus"></span> <%= t('views.contacts.show.new_note') %>
      </a>
    </div>
  </h2>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"><%= t('views.contacts.show.tab_contact') %></a>
    </li>
    <li role="presentation">
      <a href="#notes" aria-controls="notes" role="tab" data-toggle="tab"><%= t('views.contacts.show.tab_notes') %></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="contact">
      <%= render @contact %>
    </div>
    <div role="tabpanel" class="tab-pane" id="notes">
      <%= render partial: 'contacts/notes_table', locals: {notes: @contact.notes} %>
    </div>
  </div>
</div>
