<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>


<p>
  <strong>Siret:</strong>
  <%= @contact.siret %>
</p>

<p>
  <strong>Tva:</strong>
  <%= @contact.tva %>
</p>

<p>
  <strong>Employees count:</strong>
  <%= @contact.employees_count %>
</p>
