<div class='pull-right'><%= edit_btn(edit_contacts_company_path(@contact)) %></div>

<p>
  <strong><%= t 'views.contacts.companies._company.name' %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.activity' %>:</strong>
  <%= @contact.activity %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.email' %>:</strong>
  <%= mail_to @contact.email %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.address' %>:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.phone' %>:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.website' %>:</strong>
  <%= @contact.website %>
</p>


<p>
  <strong><%= t 'views.contacts.companies._company.siret' %>:</strong>
  <%= @contact.siret %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.tva' %>:</strong>
  <%= @contact.tva %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.employees_count' %>:</strong>
  <%= @contact.employees_count %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.notefield' %>:</strong>
  <%= @contact.notefield %>
</p>


<hr/>

  <h3>Contacts</h3>

  <table class="table tablesorter">
    <thead>
    <tr>
      <th><%= t('views.contacts.index.name') %></th>
      <th><%= t('views.contacts.index.email') %></th>
    </tr>
    </thead>

    <tbody>
    <% @contact.people.each do |person| %>
        <tr>
          <td><%= link_to full_name(person), person %></td>
          <td><%= mail_to person.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
