<p>
  <strong><%= t 'views.contacts.companies._company.name' %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.email' %>:</strong>
  <%= mail_to @contact.email %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.address' %>:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.phone' %>:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.website' %>:</strong>
  <%= @contact.website %>
</p>


<p>
  <strong><%= t 'views.contacts.companies._company.siret' %>:</strong>
  <%= @contact.siret %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.tva' %>:</strong>
  <%= @contact.tva %>
</p>

<p>
  <strong><%= t 'views.contacts.companies._company.employees_count' %>:</strong>
  <%= @contact.employees_count %>
</p>
