<p id="notice"><%= notice %></p>

<p>
  <strong>Siret:</strong>
  <%= @contacts_company.siret %>
</p>

<p>
  <strong>Tva:</strong>
  <%= @contacts_company.tva %>
</p>

<p>
  <strong>Employees count:</strong>
  <%= @contacts_company.employees_count %>
</p>

<%= link_to 'Edit', edit_contacts_company_path(@contacts_company) %> |
<%= link_to 'Back', contacts_companies_path %>
