<!DOCTYPE html>
<html>
<head>
  <title>Netwook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'libs', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-inverse navbar-fixed-top custom-navbar">
  <div class="container">
    <%= link_to 'Netwook', :root, class: 'root-link' %>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <%= render partial: 'shared/main_nav' %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= render partial: 'shared/user_nav' %>
          </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="main">
  <%= render 'shared/flash_msg', flash: flash %>

  <div class="row row-centered relative">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
